<section class="categories container section">
    <h3 class="section__title">Our categories</h3>

    <div class="categories__container swiper">
        <div class="swiper-wrapper">

            <a href="shop.html" class="category__item swiper-slide">
                <img src="assets/images/Kids/category/baby care.jpg" alt="" class="category__img">

                <h3 class="category__title">Baby Care</h3>
            </a>

            <a href="shop.html" class="category__item swiper-slide">
                <img src="assets/images/Kids/category/new in.jpg" alt="" class="category__img">

                <h3 class="category__title">New In</h3>
            </a>

            <a href="shop.html" class="category__item swiper-slide">
                <img src="assets/images/Kids/category/baby clothes.jpg" alt="" class="category__img">

                <h3 class="category__title">Baby Clothes</h3>
            </a>

            <a href="shop.html" class="category__item swiper-slide">
                <img src="assets/images/Kids/category/boys clothes.jpg" alt="" class="category__img">

                <h3 class="category__title">Boys Clothes</h3>
            </a>

            <a href="shop.html" class="category__item swiper-slide">
                <img src="assets/images/Kids/category/girls clothes.jpg" alt="" class="category__img">

                <h3 class="category__title">Girls Clothes</h3>
            </a>

            <a href="shop.html" class="category__item swiper-slide">
                <img src="assets/images/Kids/category/kids footwear.jpg" alt="" class="category__img">

                <h3 class="category__title">Kids Footwear</h3>
            </a>
        </div>

        <div class="swiper-button-next">
            <i class="fi fi-rs-angle-small-right"></i>
        </div>
        <div class="swiper-button-prev">
            <i class="fi fi-rs-angle-small-left"></i>
        </div>
    </div>
 </section>