<footer class="footer container">
    <div class="footer__container grid">
        <div class="footer__content">
            <h3 class="footer__title">Contact</h3>

            <p class="footer__description">
                <span>Address :</span> Lapaz New Market
            </p>

            <p class="footer__description">
                <span>Phone : (+233) 57 810 1031</span> 
            </p>

            <p class="footer__description">
                <span>Hours : 08:00 - 20:00, Mon - Sat </span> 
            </p>

            <div class="footer__social">
                <h4 class="footer__subtitle">Follow Us</h4>

                <div class="footer__social-links flex">
                    <a href="">
                        <img src="assets/images/linkedin.svg" alt="" class="footer__social-icon"/>
                    </a>

                    <a href="">
                        <img src="assets/images/twitter.svg" alt="" class="footer__social-icon"/>
                    </a>

                    <a href="">
                        <img src="assets/images/instagram.svg" alt="" class="footer__social-icon"/>
                    </a>

                    <a href="">
                        <img src="assets/images/facebook.svg" alt="" class="footer__social-icon"/>
                    </a>
                </div>
            </div>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Links</h3>

            <ul class="footer_links">
                <li><a href="index.html" class="footer__link">Home</a></li>
                <li><a href="about.html" class="footer__link">About</a></li>
                <li><a href="#" class="footer__link">Shipping and Return Policy</a></li>
                <li><a href="#" class="footer__link">Terms & Conditions</a></li>
                <li><a href="contact.html" class="footer__link">Contact us</a></li> 
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">My Account</h3>

            <ul class="footer_links">
                <li><a href="login.html" class="footer__link">Sign In</a></li>
                <li><a href="cart.html" class="footer__link">View cart</a></li>
                <li><a href="" class="footer__link">track My Order</a></li>
                <li><a href="" class="footer__link">Order</a></li>
                <li><a href="" class="footer__link">Help </a></li> 
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Secured Payment Gateways</h3>

            <img src="assets/images/payment-method.png" alt="" class="payment__img">
        </div>
    </div>

    <div class="footer__bottom">
        <p class="copyright">&copy; 2023 Pikabu. All rights reserved</p>
    </div>
    </footer>