<header class="header">
    <div class="header__top">
        <div class="header__container container">
            <div class="header__contact">
                <span>(+233) 57 810 1031</span>

                <span> Lapaz New Narket </span>
            </div>

            <div class="header-alert-news">
                <p>
                    <marquee  loop="-1" scrollamout="5" width="100%">
                        <em><strong>Free delivery for any purchase over ₵300 !</strong> </em>
                    </marquee>
                </p>
            </div>

            

            <a href="#" class="header__top-action"> 
                Log In / Sign Up
            </a>
        </div>
    </div>

    <nav class="nav container">
        <a href="index.html" class="nav__logo">
            <img src="assets/images/logo.png" alt="" class="nav__logo-img" />
        </a>

        <div class="nav__menu" id="nav-menu">
            <div class="nav__menu-top">
                <a href="index.html" class="nav__menu-logo">
                    <img src="assets/images/logo.png" alt="">
                </a>
                <div class="nav__close" id="nav-close">
                    <i class="fi fi-rs-cross-small"></i>
                </div>
            </div>

            <ul class="nav__list">
                <li class="nav__item">
                    <a href="index.html" class="nav__link active-link" >Home</a>
                </li>

                <li class="nav__item">
                    <a href="shop.html" class="nav__link">Shop</a>
                </li>

                <li class="nav__item">
                    <a href="about.html" class="nav__link">About</a>
                </li>

                <li class="nav__item">
                    <a href="contact.html" class="nav__link">Contact</a>
                </li>
            </ul>

            <div class="header__search">

                <input type="text" id="form__input" placeholder="Search Items...">

                <button onclick="search()" class="search__btn">Search</button>
                
            </div>
        </div>

        <div class="header__user-actions">
            <a href="login-registration.html" class="header__action-btn">
                <img src="assets/images/user.png" alt="" />
            </a>
            <a href="cart.html" class="header__action-btn">
                <img src="assets/images/cart.png" alt="" />
            </a>
            
            <div class="header__action-btn nav__toggle" id="nav-toggle">
                <img src="assets/images/menu-burger.svg" alt="">
            </div>
        </div>
    </nav>
</header>