@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,300;1,400;1,500;1,600&family=Satisfy&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
main{
    padding: 2em 2em 1em 2em;
    max-width: 1020px;
    margin: auto;
}

main *{
    transition: all 0.2s;
}

main > section{
    margin-top: 2em;
}

main > section:first-child{
    margin-top: unset;
}

/* page location design */
.page_location{
    padding: 0.5em 1em;
    background-color: #bbb;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    width: fit-content;
    border-radius: 0.5em;
    font-weight: 300;
}

a{
    color: inherit;
    text-decoration: unset;
}

.page_location > span:not(.current):after{
    content: ">";
    margin-left: 1em;
}

.page_location > span.current{
    color: white;
}

.no_disp{
    display: none !important;
}

/* image */
img{width: 100%; object-fit: cover; object-position: center; height: 100%;}
