/*-- Header anf Nav --*/

.container {
    max-width: 1320px;
    margin-inline: auto;
    padding-inline: .75rem;
   }

   .grid {
    display: grid;
    gap: 1.5rem;
   }

   .section--lg {
    padding-block: 4rem;
   }

   .section {
    padding-block: 2rem;
   }

   .section__title {
    font-size: var(--h4-font-size);
    margin-bottom: 1.5rem;
   }

   .section__title span {
    color: var(--first-color);
   }

   .header__top {
    background-color: var(--first-color-alt);
    border-bottom: 1px solid var(--first-color);
    padding-block: 0.875rem;
   }

   .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
   }

   .header__contact span:first-child {
    margin-right: 2rem;  
   }

   .header__contact span,
   .header__alert-news,
   .header__top-action {
    font-size: var(--small-font-size);
   }

   .header__alert-news {
    color: var(--text-color-light);
    font-weight: var(--weight-600);
   }

   .header__top-action {
    color: var(--text-color);
   }

   .header__search {
    position: relative;
   }

   #form__input{
    padding: 5px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
   }

   .flex {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
   }

  .search__btn {
    cursor: pointer;
    padding: 5px;
  }

  .new__price { 
    color: var(--first-color);
    font-weight: var(--weight-600);
  }
  .old__price {
    color: var(--text-color-light);
    font-size: var(--small-font-size);
    text-decoration: line-through;
  }

  .header__user-actions {
    column-gap: .40rem;
  }

  .header__action-btn {
    position: relative;
  }

  .header__action-btn img {
    width: 45px;
  }
   
   .nav,
   .nav__menu,
   .nav__list,
   .header__user-actions {
    display: flex;
    align-items: center;
   }

   .nav {
    height: calc(var(--header-height) + 2.5rem);
    justify-content: space-between;
    column-gap: 2rem;
   }

   .nav__logo-img {
    width: 200px;
   }

   .nav__menu {
    width: 100%;
    margin-left: 2.5rem;
   }

   .nav__list {
    column-gap: 2.5rem;
    margin-right: auto;
   }

   .nav__link {
    color: var(--tittle-color);
    font-weight: var(--weight-700);
    transition: all 0.2s var(--transition);
   }

   .nav__menu-top,
   .nav__toggle {
    display: none;
   }

  .active-link,
  .search__btn:hover,
  .nav__link:hover {
    color: var(--first-color);
  }

  @media screen and (max-width:1400px) {
    .container {
      max-width: 1140px;
    }

    .products__container {
      grid-template-columns: repeat(3, 1fr);
    }
   }

   @media screen and (max-width:1200px) {
    .container {
      max-width: 960px;
    }
    
    .header__top {
      display: none;
    }

    .nav {
      height: calc(var(--header-height) + 1.5rem);
    }

    .nav__logo-img {
      width: 130px;
    }

    .nav__menu {
      position: fixed;
      right: -100%;
      top: 0;
      max-width: 400px;
      width: 100%;
      height: 100%;
      padding: 1.25rem 2rem;
      background-color: var(--body-color);
      z-index: 100;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 2rem;
      box-shadow: 0 0 15px hsla(0, 0%, 0%, 0.1);
      transition: all 0.25s var(--transition);
    }

    .show-menu {
      right: 0;
    }

    .nav__list {
      order: 1;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 1.5rem;
    }

    .nav__link {
      font-size: var(--large-font-size);
    }

    .header__search .form__input {
      border-color: var(--first-color);
    }

    .nav__menu-top,
    .nav__toggle {
      display: flex;
    }

    .nav__menu-top {
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 1.25rem;
    }

    .nav__menu-logo img {
      width: 50px;
    }

    .nav__close {
      font-size:  var(--h2-font-size);
      line-height: 1rem;
    }

    .header__action-btn img {
      width: 21px;
    }