<div class="item">
    <div class="img">
        <img src="assets/images/products/Babies All Over Print Jumpsuit.jpg" alt="">
    </div>
    <div class="content">
        <h4 class="title">Babies All Over Print Jumpsuit</h4>
        <div class="price item_price" data-price="299.99">
            <span class="current_price">GHC 299.99</span>
            <span class="discounted_price"><s>599.99</s></span>
        </div>
    </div>
    <div class="button">
        <button>Remove Item</button>
    </div>
</div>